<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.DiscussionMapper">

    <select id="getDiscussionList" parameterType="java.lang.Integer" resultType="com.example.sp.model.Discussion">
        select * from discussion
        where project_id = #{pjID}
    </select>

    <insert id="addDiscussion" parameterType="com.example.sp.model.Discussion">
        insert into discussion (project_id, student_id, title, content, time)
        values (#{project_id}, #{student_id}, #{title}, #{content}, #{time})
    </insert>

    <select id="getReplyList" parameterType="java.lang.Integer" resultType="com.example.sp.model.Reply">
        select * from reply
        where discussion_id = #{discussionID}
    </select>

    <insert id="addReply" parameterType="com.example.sp.model.Reply">
        insert into reply (project_id, discussion_id, student_id, content, reply_time)
        values (#{project_id}, #{discussion_id}, #{student_id}, #{content}, #{reply_time})
    </insert>
</mapper>