<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.FileMapper">

    <insert id="addFile" parameterType="com.example.sp.model.ProjectFile">
        insert into materials (project_id, user_id, user_type, upload_time, description, size, address)
        values (#{project_id}, #{user_id}, #{user_type}, #{upload_time}, #{description}, #{size}, #{address})
    </insert>

    <select id="getFiles" parameterType="java.lang.Integer" resultType="com.example.sp.model.ProjectFile">
        select * from materials
        where project_id = #{pjID}
    </select>

    <select id="getDownloadCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select download_count from materials_download_count
        where materials_id = #{materials_id}
    </select>

    <insert id="recordDownload" parameterType="com.example.sp.request.DownloadRequest">
        insert into download (project_id, materials_id, user_id)
        values (#{project_id}, #{materials_id}, #{user_id})
    </insert>

</mapper>