<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.ProjectMapper">

    <select id="getMyPJ" parameterType="java.lang.String" resultType="com.example.sp.model.ProjectInfo">
        select * from projectInfo
        where teacher_id = #{userID, jdbcType=VARCHAR}
    </select>

    <select id="getStuPJ" parameterType="java.lang.String" resultType="com.example.sp.model.ProjectInfo">
        select teacher_id, teacher_name, project_id, course_name, project_name, description, key_point_count,
        member_limit, duration, `status`, start_time
        from projectinfo join participate using(project_id)
        where participate.student_id = #{userID, jdbcType=VARCHAR}
    </select>

    <select id="searchProject" parameterType="java.lang.String" resultType="com.example.sp.model.ProjectInfo">
        select * from projectInfo
        where project_name like #{keyword, jdbcType=VARCHAR}
    </select>

    <insert id="insertProject" parameterType="com.example.sp.request.ProjectAddRequest">
        insert into project (teacher_id, course_name, project_name, description, key_point_count, member_limit, duration)
        values (#{teacher_id}, #{course_name}, #{project_name}, #{description}, #{key_point_count}, #{member_limit}, #{duration})
    </insert>

    <select id="getMemberList" parameterType="java.lang.Integer" resultType="com.example.sp.model.Student">
        select name, student_id
        from student join participate using(student_id)
        where project_id = #{pjID}
    </select>

    <select id="getPJDetails" parameterType="java.lang.Integer" resultType="com.example.sp.model.ProjectInfo">
        select * from projectinfo
        where project_id = #{pjID}
    </select>

    <update id="updateProjectStatus" parameterType="com.example.sp.request.UpdateProjectStatusRequest" >
        update project
        set status = #{status, jdbcType=VARCHAR}
        where project_id = #{project_id}
    </update>

    <update id="updateProjectStatusAndTime" parameterType="com.example.sp.request.UpdateProjectStatusRequest" >
        update project
        set status = #{status, jdbcType=VARCHAR}, start_time = #{start_time}
        where project_id = #{project_id}
    </update>

    <!-- student join project -->
    <insert id="joinProject" parameterType="com.example.sp.request.JoinProjectRequest">
        insert into participate (student_id, project_id) values (#{student_id}, #{project_id})
    </insert>

</mapper>